<div class="card auth-container">
    <div class="card-body">
        <h4 class="mb-2">{{ "account-reset-password-page-title" | translate }} 🔒</h4>
        <p class="mb-4">{{ "account-reset-password-page-subtitle" | translate }}</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mb-3" id="formAuthentication">
            <div class="mb-3">
                <label for="email" class="form-label">{{ "email" | translate}}</label>
                <input type="text" class="form-control" id="email" name="email" formControlName="email"
                    [placeholder]="this.translate('email-prompt')" autofocus />

                @if(form.get('email')?.invalid && form.get('email')?.touched) {
                <div class="text-danger">
                    @if(form.get('email')?.errors?.['required']) {
                        <small>{{ this.translate('error-required-field', { fieldName: this.translate('email')}) }}</small>
                    }

                    @if(form.get('email')?.errors?.['email']) {
                        <small>{{ 'error-invalid-email' | translate }}</small>
                    }
                </div>
                }
            </div>

            <button class="btn btn-primary d-grid w-100" type="submit" [disabled]="form.invalid">{{ "account-reset-password-link" | translate }}</button>
        </form>

        <p class="text-center m-0">
            <a routerLink="/auth/login">
                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i><span>{{ "account-back-to-sign-in" | translate }}</span>
            </a>
        </p>
    </div>
</div>