<div class="container-xxl container-p-y justify-content">
<div class="misc-wrapper">
    <h2 class="mb-2 mx-2">{{ "problem-occurred" | translate }}</h2>
    <a routerLink="/" class="btn btn-primary">{{ "account-back-to-signin" | translate }}</a>
    <div class="mt-5">
      <img src="../assets/img/illustrations/girl-doing-yoga-light.png" alt="girl-doing-yoga-light" width="500" class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-dark.png" data-app-light-img="illustrations/girl-doing-yoga-light.png">
    </div>
  </div>
</div>