<div class="card auth-container">
    <div class="card-body">
        <h4 class="mb-2">{{ "account-set-password-page-title" | translate }} 🔒</h4>
        <p class="mb-4">{{ "account-set-password-page-subtitle" | translate }}</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mb-3" id="formAuthentication">
            <div class="mb-3 form-password-toggle">
                <label class="form-label" for="password">{{ "password" | translate }}</label>
                <div class="input-group input-group-merge">
                  <input type="password" id="password" class="form-control" name="password" formControlName="password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password" />
                </div>
        
                @if(form.get('password')?.invalid && form.get('password')?.touched){
                  <div class="text-danger mx-w-400">
        
                    @if(form.get('password')?.errors?.['required']) {
                      <small>{{ this.translate('error-required-field', { fieldName: this.translate('password')}) }}</small>
                    }
        
                    @if(form.get('password')?.errors?.['passwordStrength']) {
                    <small>
                      {{ form.get('password')?.errors?.['passwordStrength'] | translate }}
                    </small>
                    }
                </div>
                }
              </div>
              
              <div class="mb-3 form-password-toggle">
                <label class="form-label" for="confirm-password">{{ "confirm-password" | translate }}</label>
                <div class="input-group input-group-merge">
                  <input type="password" id="confirm-password" class="form-control" name="confirm-password" formControlName="confirmPassword"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="confirm-password" />
                </div>
        
                @if(form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched){
                  <div class="text-danger mx-w-400">
        
                    @if(form.get('confirmPassword')?.errors?.['required']) {
                      <small>{{ this.translate('error-required-field', { fieldName: this.translate('confirm-password')}) }}</small>
                    }

                    @if(form.get('confirmPassword')?.errors?.['matchingRequired']) {
                      <small>{{ "error-password-matching" | translate }}</small>
                    }
                </div>
                }
              </div>

            <button class="btn btn-primary d-grid w-100" type="submit" [disabled]="form.invalid">{{ "account-change-password" | translate }}</button>
        </form>

        <p class="text-center m-0">
            <a routerLink="/auth/login">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i><span>{{ "account-back-to-sign-in" | translate }}</span>
            </a>
        </p>
    </div>
</div>